<section class="phx-hero">
  <h1 class="text-5xl text-red"><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h1> <!-- Add our CSS classes to the H1 tag here -->
  <p>A productive web framework that<br/>does not compromise speed and maintainability.</p>
</section>

<!-- Code removed for readability -->
</section>
